header, main, footer{
    text-align:center;
    margin: 1rem auto;
    padding: 5px;
    background-color: blue; 
    color: white;
}


a{
    color:white;
    min-width: 200px;
    display:block;
}

.hide {
    display:none;
}


figure{
    display:inline;
}
img{
    max-width: 100%;
    margin:20px;
    border: white 10px solid;
    height: 250px;
    object-fit:cover;
}
button{
    
    background: none;
    
}
  
#image-modal img {
    max-width: 150%;
    height: 50vh;
    display: block;
    background-color: rgba(0,0,0,.6);
    margin:20vh auto;
    z-index:10;
  }
.close-viewer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    background: red;
    color: white;
    border: none;
    padding: 0.5rem;
   
  }
  .gallery{
     display: grid;
    grid-template-columns: 1fr;
  }

@media screen and (min-width: 500px) and (max-width: 1199px){
   
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .hide {
        display:none;
    }
}

@media screen and (min-width: 1200px){
    
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    h2{
        display:none;
    }
    .hide{
        display:block;
    }
}










